name: CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore KamisamaLoader.Linux.sln

    - name: Build
      run: dotnet build KamisamaLoader.Linux.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test KamisamaLoader.Linux.sln --no-build --verbosity normal --configuration Release
